.sidebar-li {
    border: 2px solid gray;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.sidebar-li:hover {
    background-color: aliceblue;
}

.sidebar-li > .error {
    width: 25px;
    height: 25px;
    position: relative;
    top: 20%;
    right: -92.3%;
    margin: 0px;
    padding: 0px;
    z-index: 100;
}

.sidebar-li > h3 {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    padding-top: 20px;
    z-index: 0;
}

.sidebar-li > h3:hover {
    color: blue;
    cursor: pointer;
}

