.form {
    max-width: 800px;
}

.form input:not([type=checkbox]) {
    max-width: 500px;
    width: 60%;
}

.form .email {
    margin-left:45px;
}

.form .password {
    margin-left : 15px;
}


input:not(:placeholder-shown):invalid {
    color: red;
    border-color:red;
}

input:valid{
    color:green;
    border-color: green;
}

input:focus {
    outline-offset: 5px;
    color: orange;
    border-color: orange;
}

.form label {
    margin-left: 10px;
}

.form button {
    margin-top: 10px;
}

input[type=checkbox] {
    width: 1em;
    height: 1em;
    position: relative;
    top: 5px;
}

.form select {
    padding: 5px;
    outline-offset: 5px;
    margin-right: 0px;
}