.authForm input:not([type=checkbox]) {
    max-width: 500px;
    width: 60%;
}

.authForm .email {
    margin-left:45px;
}

.authForm .password {
    margin-left : 15px;
}


.authForm input:not(:placeholder-shown):invalid {
    color: red;
    border-color:red;
}

.authForm input:valid{
    color:green;
    border-color: green;
}

.authForm input:focus {
    outline-offset: 5px;
    color: orange;
    border-color: orange;
}

.authForm label {
    margin-left: 10px;
}

.authForm button {
    margin-top: 10px;
}

.authForm input[type=checkbox] {
    width: 1em;
    height: 1em;
    position: relative;
    top: 5px;
}